doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/d3.js')
    script(type='text/javascript', src='/javascripts/deepstream.js')
    script(type='text/javascript').
      console.log('hi there from layout.jade');
  block inline-script
  body
    block content
